@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.container {
    background-color: var(--Cream);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 500px;
    /* border: 1px solid; */
    padding: 1rem;
}

.header {
    background-color: var(--Softred);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
    color: var(--Verypaleorange);
    border-radius: 1rem;
}

.graph-container {
    background-color: var(--Verypaleorange);
    padding: 1rem;
    border-radius: 1rem;
}

hr {
    margin: 0.8rem auto;
}

.graph-container .footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.graph-container .footer span {
    display: block;
}
.price {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;

}
.rate {
    font-weight: 700;
}